.form{
    display: flex;
    gap: 1rem;
}
.qrWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.qrWrapper svg path:last-child{
    fill: #181818;
}
.input{
    border: 1px solid #181818;
    border-radius: 5px;
    padding: 0.8rem;
}
.button{
    padding: 0.8rem;
    background-color: #181818;
    border-radius: 5px;
    color: white;
}