*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #181818;
}
#root{
    height: 100%;
}
html,body{
    height: 100%;
}
a{
    text-decoration: none;
}
.container{
    max-width: 800px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.content{
    padding: 2rem 0;
}
.qrContainer{
    display: flex;
    justify-content: space-between;
}